name: PlatformIO CI

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run
      - uses: actions/upload-artifact@v3
        with:
          name: esp32_firmware
          path: .pio/build/esp32/*esp32.bin
      - name: Upload to S3
        uses: shallwefootball/s3-upload-action@master
        id: S3
        with:
            aws_key_id: ${{secrets.AWS_KEY_ID}}
            aws_secret_access_key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
            aws_bucket: ${{secrets.S3_BUCKET_NAME}}
            source_dir: esp32_firmware.zip
            